:root {
    --primary-dark: #333;
    --background-grey: #ededed;
    --primary-red: #8b0000;
    --display-font: 42px;
    --header-font: 34px;
    --title-1-font: 18px;
    --body-font: 14px;

    --square-size: 150px;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--background-grey);
    color: var(--primary-dark);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1 {
    font-size: var(--display-font);
    margin: 0;
}


/* Main */
.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
    max-width: 1250px;
    margin: auto;
    padding-bottom: 60px;
}

p {
    margin: 0px;
}

button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-dark);
    color: var(--background-grey);
    font-size: var(--body-font);
    cursor: pointer;
}

button:hover {
    background-color: var(--background-grey);
    border: 1px solid var(--primary-dark);
    color: var(--primary-dark);
}

/* Player and AI selection */
.setup {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-left: 20px;
    gap: 20px;
    width: 300px;
}

#player-count, #ai-select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 300px;
}

.inactive {
    visibility: hidden;
}

.left-msg, .right-msg {
    display: flex;
    flex: 1;
}

.left-msg {
    justify-content: flex-end;
}

.right-msg {
    justify-content: flex-start;
}

.switch {
    position: relative;
    width: 60px;
    height: 34px;
}

.switch input {
    visibility: hidden;
}

.slider {
    position: absolute;
    background-color: lightgray;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    cursor: pointer;
    transition: 100ms;
}

.slider:before {
    position: absolute;
    content: "";
    background-color: white;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    bottom: 4px;
    left: 4px;
    transition: 100ms;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Gameboard  */
#gameboard {
    position: relative;
    top: 80px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, var(--square-size));
    grid-template-rows: repeat(3, var(--square-size));
    gap: 10px;
    background-color: darkgrey;
}

.square {
    width: var(--square-size);
    height: var(--square-size);
    background-color: var(--background-grey);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--header-font);

}

.fa-times {
    font-size: 100px;
}

.fa-circle {
    font-size: 82px;
    position: absolute;
}

.fa-circle + .smaller {
    font-size: 50px;
    position: relative;
    color: var(--background-grey);
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: var(--body-font);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-color: darkgray; */
}

.fa-github {
    color: var(--primary-dark);
    transition: 0.5s ease;
    font-size: 32px;
}

.fa-github:hover {
    transform: scale(1.2) rotate(360deg);
}
